.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding-top: 20px;
}

.link {
  width: 225px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s, background 0.3s;
}

.link:hover {
  transform: scale(1.01);
  background: rgba(255, 255, 255, 0.2);
}

.img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.name {
  margin-top: 8px;
  font-weight: bold;
}

@media (max-width: 425px) {
  .list {
    justify-content: center;
  }
  .link {
    font-size: 18px;
  }
  .img {
    width: 100%;
  }
}
